.Normal_text {font-family:'Raleway';font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;color:#1B1B1B;background-color:Transparent;letter-spacing:0em;}
.Heading_3 {font-weight:bold;font-size:16px;}
.Heading_2 {font-weight:bold;font-size:24px;}
.Heading_1 {font-weight:300;font-size:40px;color:#DEDEDE;}
.Normal_text_a {font-family:'Tahoma';font-weight:normal;font-style:normal;font-size:14.67px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.Code {font-family:'Consolas';font-size:13.33px;}
