/* Text styles */
.xr_s0 {font-family:'Raleway';font-weight:normal;font-style:normal;font-size:21.33px;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0;color:#1B1B1B;background-color:Transparent;letter-spacing:0em;}
.xr_s1 {font-size:21.33px;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0;color:#DEDEDE;background-color:Transparent;letter-spacing:0em;}
.xr_s2 {font-size:21.33px;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0;background-color:Transparent;letter-spacing:0em;}
